### Sapphire Global ###

## Node.js
# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output (Production mode)
**/build/
**/dist/

# Testing
coverage/

## Environment Variables
# Typeorm environment variables (development-only)
ormconfig.env

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Direnv auto-export script
.envrc

## Development Environment
# Persistent data (PostgreSQL)
pgdata/

# IDEs and editor workspaces
.idea/
.vscode/

# Specification (for internal-use only)
spec/
specs/

## Misc
# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store
